image: docker:latest

services:
  - docker:dind

variables:
  API_IMAGE_NAME: $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME

before_script:
  - apk add --no-cache py-pip
  # temporary fix
  - pip install --quiet docker-compose~=1.23.0
  - pip install -r requirements/test.txt

stages:
  - test

test:
  stage: test
  script:
    - ./scripts/test
