cookiecutter
sh
binaryornot

# Code quality
# ------------------------------------------------------------------------------
black
flake8
isort
mypy

# Testing
# ------------------------------------------------------------------------------
pytest
pytest_cases
pytest-cookies
pytest-asyncio
