cookiecutter
sh
binaryornot

# Code quality
# ------------------------------------------------------------------------------
black
flake8
isort
mypy

# Testing
# ------------------------------------------------------------------------------
pytest==5.4.2
pytest_cases
pytest-cookies
